*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: helvetica;
    scroll-behavior: smooth;
}
/* 
1.tu tren xuong duoi
2.tu ngoai vao trong */
/* 
1 vi tri
2 kich thuoc
3 mau sac
4 kieu dang
 */

.text-white{
    color: white !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    
   
}
.clo{
    float: left;padding-right: 8px;
    padding-left: 8px;
}
.clo-third{
    width: 33.33%;
}
.clo-half{
    width: 50%;
}
.clo-full{
    width: 100%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.clo p{
    
}
.mt{
    margin-top: 8px!important;
}
.mt1{
    margin-top: 16px!important;
}

/*  */
#main{

}
#header{
height: 46px;
background-color:#000;
position: fixed;top: 0;left: 0;right: 0;
z-index: 10;


}
#nav, .subnav{
    list-style-type: none;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;  
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    background-color: #ffff;
    position: absolute;   
    box-shadow: 5px 6px 15px rgba(1, 5, 2, 0.2);
    min-width: 160px    ;
    left: 0;top: 100%;
}
#nav .subnav a{
 color: black; 
 padding: 0 12px;
 line-height: 38px;
}
#nav .subnav li:hover,
#nav>li:hover>a{
    background-color: gray;
    color:black;

}
#nav .subnav li{
    display: block;
    
}
#nav>li>a{
    color: white;
   text-transform: uppercase;
   font-size: 15px;
}
#nav li a{
    line-height: 46px;
    padding: 0 24px;   
    display: block;
}
#nav .nav-ar{
    font-size: 14px;
}
#header .sreach,
#header .mobile-menu{
float: right;padding: 0 21px; cursor: pointer;
}

#header .re,
#header .meicon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}
 .mobile-menu:hover{
background-color:gray;
}   
#header .sreach:hover{
    background-color: gray;
   
}
#slider{
margin-top: 46px;
/* padding-top: 50%;
background: url(chicago.jpg)top center /cover no-repeat; */
position: relative;
}
.text-content{
position: absolute;color: white;bottom: 48px;
/*  nhieu cach can chinh  */
/* left: 50%;transform: translateX(-50%); */
text-align: center;
/* width: 100%; */
left: 0;right: 0;
}
#slider .textheading{
font-weight: 500;
font-size: 24px;

}
.text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0  0 2px black;
}

#content{


}
.Content-section{
    width: 800px;
    max-width: 100%;
    padding:  64px 0 112px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.Section-heading{
    font-size: 30px;font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}
.Secon-heading{
    text-align: center;color: gray;font-weight: 200;
    font-style: italic;margin-top: 25px;font-size: 15px;
    
    
}
#header .mobile-menu{
    position: absolute;
    top: 0;right: 0;display: none;

}
.about-text{
    font-size: 15px;text-align: justify;
    line-height: 1.4;
}
.members-list{
    margin-top: 32px;
    overflow: ;
}
.text-al{
    text-align: center;
}
.nember-name{
    font-size: 15px;
}
.avatar{
    margin-top: 15px;width: 154px;border-radius: 4px;

}
/* tour */
.tour-section{
    background-color: #000;
}
.bookticket{
    background-color: white;margin-top: 40px;
}
li .sold-out{
    background-color: red;
    color: white;
    padding: 2px 4px;
    margin-left: 16px;
}
.quantity{
float: right;
width: 24px;height: 24px;
background: black;text-align: center;
color: white;line-height: 24px;border-radius: 12px;
transform: translatey(-15%);
}
.bookticket li{
    font-size: 15px;padding: 8px 16px;
    border-bottom:1px solid #ddd;
    color: #757575;
}
.tour-ticket{
margin-top: 16px;
/* overflow: hidden; */

}

.placimg{
width: 100%;display: block;
}
.placimg:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    padding: 16px;font-size: 15px;

}
.placeheading{
font-weight: 600;

}
.placetime{
margin-top: 15px;color: #757575;
}
h3{
    white-space: nowrap
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.s-place-buy-ticket{
    background-color: #000;
    color: white;padding: 11px 18px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    

}
.s-place-buy-ticket:hover{
    color: #000;background-color: #ccc;
    border: none;
}
/* fotter */
#footer{


}
/*  */
.modal{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    width: 900px;min-height: 200px;
    background-color: white;
    position: relative;max-width: calc(100% - 32px);
   animation: modalfadein ease-in-out 1.5s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    font-size: 30px;
    color: #fff;justify-content: center;
    align-items: center;
}
.tibag{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    top:0;right: 0;
    padding: 12px;
    color: white;
    cursor: pointer;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-ticket{
    background-color: #009688;
    border: none;
    height: 48px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}
#buy-ticket:hover{
opacity: 0.5;
}
.ti-check{
    margin-left: 5px;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer a{
    color: blue;
}
/* contact form */
.contac-content{
    margin-top:48px;   
}
.info{
    font-size: 18px;
    line-height: 1.4;
}
.info>p>a{
    color: black;
}
.info>p>a:hover{
    color: red
}
.clo i{
width: 30px;
display: inline-block;}
.contact-form{
    font-size: 15px;
    
}
.form-control{
    padding: 11px;border: 1px solid #ccc;
    width: 100%;
}
.submit-f{
   border: none;background-color: #000;
   color: white;padding: 10px 16px;
   float: right!important;
   cursor: pointer;
}
.submit-f:hover{
    background-color: gray;
}
/* map */
.map-section img {
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.social a{
    color: black; font-size: 24px;
}
.social a:hover{
    opacity: 0.5;color: gray;   
}
.copp{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
}
.copp a{
    color: gray;
}
.copp a:hover{
    color: red;
}


@keyframes modalfadein {
    from {
        opacity: 0.2;
        transform: translatey(-500px);
    }
    to{
transform: translateY(0);
opacity: 1;
    }
}

