:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ff7337;
    --border-color:#dbdbdb;
    --header-height:120px;
    --navbar-height:40px;
    --header-with-search-height: calc(var( --header-height) - var(--navbar-height))

}
a{
    text-decoration: none;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
/* tren la tong */
.header{
    background-image:  linear-gradient(#ee4d2d,#ff7337);
    height: var(--header-height);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_li{
    margin: 0 4px ;
    position: relative;
    margin-left: 0.7rem;
    white-space: nowrap;
   
}
.navbar_li-str{
    font-weight: bold;
}

.navbar__hd{
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.navbar_li,.header__nav_a{
    display: flex;
    font-size: 1.3rem;
    color: var(--white-color);
    padding: 4px;
    align-items: center;
}

.separate::after{
    content: "";
    display: block;
    position: absolute;
  height: 14px;
    border-left: 1px solid rgb(196, 196, 196);
    top: 50%;
   right: -5px;
   transform: translateY(-50%);


}
.header__nav_a,.header__nav_ab{
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
}
.navbar_li_has-qr:hover .header_qr{
display: block;
}
.header__nav_a:hover,.navbar_li-str:hover,.header__nav_ab:hover,.navbar_li_has-qr:hover{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.header_navbar_icon{
    font-size: 1.6rem;
    margin: 0 4px;
}
.head_navbar_span{
    cursor: text;
    color: var(--white-color);
}
/* qr core */
.header_qr{
background-color: var(--white-color);
width: 185px;
position: absolute;
left: 0;top: 120%;

display: none;
animation: fadeIn ease-in 0.5s ;

}
.header_qrco{   
width: 100%;
}
.header_qr::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    top: -17px;
    left: 0;
}
.Header_qr-coo{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
}
.header_qr-app{
height: 16px;
}
.headerqr_link{
    margin-top: 2px;
}
.headerqr_link:nth-child(1){
    margin-left: 12px;
}
.headerqr_link:nth-child(2){
    margin-right: 12px;
}
.headerqr_link:nth-child(3){
    margin-left: 10px;
}
/* qr core */
/* hmmm tieng viet */
.header_navbar_sptv{
background-color: white;
position: absolute;
top: 120%;
width: 200px;
right: -20px;
display:none ;
animation: fadeIn ease-in 0.2s;
border-radius: 25px;
z-index: 10;

}
.header_navbar_btnsptv{
flex: 1;
    border: none;
    padding: 10px;
    background-color: var(--white-color);
    text-align: left;
    border-radius: 5px;
}
.navbar_li_has_sptv:hover .header_navbar_sptv{
    display: block;
}
.header_navbar_btnsptv::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    top: -10px;
    right: 0;
    display:block ;
}
.Header_navbar_sptv1{
    display: flex;
    flex-direction: column;
    
}
.header_navbar_btnsptv:hover{
 color:#ff7337;opacity: 0.9;
}
.header_navbar_sptv::after{
    content: "";
    border-width: 20px 26px;
    border-style:  solid ;
    border-color: transparent transparent var(--white-color) transparent ;
    position: absolute;
    right: 25px;
    top: -30px;

}
/* hmmm tieng viet */
/*  Thông báo */

.navbar_li-hv:hover .header_noti{
    display: block;
}
/* cách làm hiệu ứng hover từ giữa ra ngoài */
/* .navbar_li::before{
    content: "";
    pointer-events: none;
    top: 0;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #644836;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 0.5s;
}
.navbar_li:hover::before{
    width: 100%;
  left: 0%;
} */
/* cách làm hiệu ứng hover từ giữa ra ngoài */
@keyframes growth1{
    from{
        transform: scale(0);opacity: 0;
    }
    to {
        transform: scale (1);opacity: 1;
    }
}

.header_noti{
position: absolute;
top: 118%;
width: 404px;
background-color: var(--white-color);
right: 0;
border: 1px solid #d3d3d3;
display: none;
transform-origin: calc(100% - 20px) top;
animation: growth1 0.2s ease-in;
will-change: opacity,transform;
border-radius: 10px;
z-index: 10;
}
/* tạo mũi nhọn */
.header_noti::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid ;
    border-color: transparent transparent var(--white-color) transparent ;
    position: absolute;
    right: 4px;
    top: -30px;
}
.header_noti::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -20px;
    width: 100px;
    height: 20px;
   
}
/* tạo mũi nhọn  */
.header_notfi-header{
    height: 40px;
    width: 100%;
    background-color: var(--white-color);  
    border-radius: 10px;
}
.header_notfi-header h3{
    color: gray ;
    font-weight: 400;
    font-size: 1.6rem;  
    margin: 0 0 0 12px;
    line-height: 40px;
 
}
.header_noti-list{
    padding-left: 0px;
    white-space: normal;
}
.header_noti-item{
    display: flex;
}
.header_noti-item-view{
background-color: rgba(248, 229, 229, 0.8);
}
.header_noti-item:hover{
    background-color:rgba(233, 233, 233, 0.5)
}
.header_noti-link{
  
    display: flex;
    padding: 12px;
 
}
.header_noti-img{
    width: 48px;
    object-fit: contain;
}
.header_noti-info{
margin-left: 12px;
}
.header_noti-name{
font-size: 1.4rem;
color:var(--black-color);
line-height: 1.6rem;
display: block;

}
.header_noti-descriotion{
display: block;font-size: 1.2rem;
color: gray;
margin-top: .5rem;

}
.header_noti-footer{
display: flex;

}
.header_noti-footer-a{
color: black;font-size: 1.5rem;
padding: 8px 48px;
width: 100%;
font-weight: bold;
text-align: center;
}
/* Modal */
.modal.open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: none;
    animation: fadeIn 0.5s linear;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.4);
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
margin: auto;
border-radius: 5px;
z-index: 1;
position: relative;
background-color: var(--white-color);
animation: growth linear 0.5s;

}
.auth-form{
width: 500px;
background-color: var(--white-color);
border-radius: 5px;
overflow: hidden;
}
/*  */
.auth-form__container{
    padding: 0 32px;

}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 20px;
}
.auth-form__headling{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.5rem;
    color:var(--primary-color);
    font-weight: 500;
    cursor: pointer;

}
.auth-form__form{
    margin-top: 20px;

}
.auth-form__input{
    width: 100%;height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border:1px solid  var(--border-color) ;
    border-radius: 3px;
    outline: none;
}
.auth-form__input:focus{
 border-color:#888 ;
}
.auth-form__aside{
    margin-top: 12px;
    margin-bottom: 20px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 10px;
}
.authe-form__socials{
background-color: #f5f5f5;
padding: 12px 32px;
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.authe-form__socials-icons{
    font-size: 2rem;
}
.authe-form__socials-icons--fb{
    color: var(--white-color);
    background-color: #3A5A98 ;
}
.authe-form__socials-icons--fb
.authe-form__socials-icons{
    color: var(--white-color);
}
.authe-form__socials-icons--gg{
background-color: var(--white-color);
color: #666;
}
.authe-form__socials-title{
   margin: 0 33px;
}
.authe-form__socials_title-fbtext{
    color: white;
}
/* đăng nhâp */
.authe-form__socials-title_dn{
margin: 0 20px;color: gray;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.5rem;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 15px;
}
.auth-form__help-link__pass{
    color: var(--primary-color);
}
.auth-form__help-link__help{
    color: var(--text-color);
}
.authe-form__socials-icons--sms{
    background-color: green;
}
.authe-form__socials_textcl,.fa-comment-dots{
    color: var(--white-color);
}
/* đăng nhâp */
/* Tìm kiếm */
.header-with-search{
height: var(--header-with-search-height);
display: flex;align-items: center;
}
.header__logo{
display: flex;
color: white;
margin-left: 11px;

}
.header__logo-img{
    width: 45px;
    color: white;
    position: relative;
    
}
.header-logo-middle{
    border-right: 1px solid rgb(243, 243, 243);
    margin: 0 20px;
    height: 40px;
    display: flex;
    align-self: flex-end;
}

.header__logo-sp{
    width: 180px;
    
    margin-top: 15px;
  
}
.header__search{
    background-color: white;
    height: 40px;
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}
.header__search-input{
   flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 8px;
    border-radius: 5px;
}
.header__search-selec{
    border-left: 1px solid #080808;
    padding-left: 16px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.deader__search-label{
font-size: 1.5rem;
color: var(--text-color);
}
.header__search-selec-icon {
    font-size: 1.2rem;
    color: rgb(27, 27, 27);
    margin: 0 10px;
}
.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
   
}
.header__cart-icon{
    font-size: 26px;
    color: white;
}
.header__search-selec:hover .header__search-option{
    display: block;
}
.header__search-option{
position: absolute;
right: 0;
top: 110%;
width: 130px;
list-style: none;
box-shadow: 0 1px 3px #ccc;

display: none;
}
.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
top: -10px;
    position: absolute;
    left: 0;

}
.header__search-option-item{
background-color: var(--white-color);
padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
font-size: 1.4rem;
color: var(--primary-color);
margin-left: 12px;
display: none;
}
.header__search-btn{
border: none;
background-color: var(--primary-color);
height: 34px;
margin-right: 4px;
width: 60px;
border-radius: 4px;
outline: none;
}
.header__search-btn:hover{
background-color: var(--primary-color);
opacity: 0.8;
cursor: pointer;
}
.header__search-btn-icon{
font-size: 1.4rem;
color: var(--white-color);
}
.header__search-option--active i{
    display: inline-block;
}
.header__search-option-item:hover{
    background-color: var(--white-color);
    opacity: 0.9;
    cursor: pointer;
}